# node_modules
.DS_Store
# dist
*.local
.yarn
package-lock.json
# yarn.lock
auto-imports.d
src/types/components.d.ts
src/types/auto-imports.d.ts
.history
stats.html
aa.json
checkUpdate.*
dev-dist
# pnpm-lock.yaml

# .env.development
